html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f4f5f6 !important;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container-body {
  width: 85%;
}

.red-nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #f72210;
}

.weather-widget span {
  font-size: 18px;
}

.sub-btn {
  width: 215px;
  height: 23px;
  color: white;
  line-height: 100%;
  border-radius: 10px;
  border: none;
}

.top-nav-container li {
  border-right: 1px solid;
}
.top-nav-container a {
  font-size: 19px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;

  line-height: 24px;
  padding: 0;
}

.bottom-nav-container {
  border-top: #f5f5f5 solid;

  width: 100%;
}
.bottom-nav-container a {
  font-weight: bold;
}

.section-1 {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  box-sizing: border-box;
}

.section-1 a {
  color: black;
}

.left-section h5 {
  font-weight: 900;
}

.left-section img {
  height: 225px;
}
.media {
  border-top: #e2dbdb thin solid;
}
.middle-three-item {
  width: 30%;
}

.person-logo {
  height: 63px;
}

.vs {
  color: gray;
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  font-weight: 900;
}

.thick-border {
  border-top: 4px solid #d9d9d9;
  border-bottom: 4px solid #d9d9d9;
}

.right-section .media h5 {
  font-weight: 700;
  font-size: 17px;
}

.right-section .media p {
  color: darkgray;
  font-weight: 600;
}
