html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f4f5f6 !important;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
.container-body{
  width: 80%;
}
.red-nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #f72210;
}

.weather-widget span {
  font-size: 18px;
}

.sub-btn {
  width: 215px;
  height: 23px;
  color: white;
  line-height: 100%;
  border-radius: 10px;
  border: none;
}
.top-nav-container{


}

.top-nav-container li{
  border-right: 1px solid;
  
}
.top-nav-container a{
  font-size: 19px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;

  line-height: 24px;
  padding: 0;

  
}


.bottom-nav-container{
  border-top: #f5f5f5 solid;
  border-top: #f5f5f5 solid;
  width: 100%;
}
.bottom-nav-container a{
  
  font-weight: bold;
  
}
